*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-image: url(https://cdn.pixabay.com/photo/2014/09/02/14/12/sunset-433626_1280.jpg);
    background-size: 100% 100%;
}
header{
    display: flex;
    flex-direction: column;
    background-color: rgba(209, 255, 255, 0.548);   
    position: absolute;
    width: 100%;
}
header>div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
header>div div{
    position: absolute;
    left: 35px;
    top: 25px;
    background-image: url(./logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;

}
a:visited {
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
}
.header{
    height: 50px;
    display: flex;
    flex-direction: column;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    padding-left: 50px;
    position: relative;
}
.menu>li{
    padding: 10px;
}
.menu>li:hover{
    /* background-color: rgba(149, 160, 255, 0.897); */
    color: rgb(132, 1, 255);
}
.submenu{
    background-color: rgba(209, 255, 255, 0.548);
    position: absolute;
    visibility: hidden;
    list-style: none;
    top: 40px;
    line-height: 27px;
    width: 83px;
    padding: 8px;
    }
#mostrar:hover .submenu{
    visibility: visible;
}
.submenu li:hover{
    color: rgb(0, 0, 0);
}
main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px royalblue;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}